<!--
  templateType: page
  isAvailableForNewContent: true
  label: Meet our team
  screenshotPath: ../images/template-previews/meet-team.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--contact"
%}

{% set contacts = crm_objects("contact", "company=Wunder") %}
<h3>{{contacts.total}} Team:</h3>
  <ul>
    {% for contact in contacts.results %}
    <li>Name: {{ contact.firstname }}</li>
    {% endfor %}
  </ul>

{% end_dnd_area %}
{% endblock body %}
